/* general */
* {
    font-family: "Verdana round";
    background-color: #F7E6D3;
}

body, #app, #user-listings, #marketplace-container, #create-listing-container, #profile-header, #item-container {
    background-color: #F7E6D3;
}

/* homepage */
#homepage-container {
    text-align: center;
}

#app {
    height: 100%;
}

#process-entry {
    background-image: "/static/images/homepagecover.jpg";
    margin: 0px;
    border: 2px solid black;
}

/* login and signup */

#login-box {
    border: solid black 1px;
    margin: auto;
    padding: 10px;
    width: 50%
}

.login-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#signup-box {
    border: solid black 1px;
    margin: auto;
    padding: 10px;
    width: 50%
}

.signup-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.signup-form h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* footer */

footer {
    text-align: center;
    margin: 2px;
    background-color: #D2D6C7;
}
/*marketplace banner*/

#marketplace-banner { 
    font-size: 40px;
}
/* booking form*/ 

#booking-form {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}

#item-details {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}


/* fieldset and listing form*/ 
fieldset {
    margin: 2em 0;
    padding: 1em, 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}

label {
    display:block;
    margin-top: 1em;
}

label:first-of-type {
    margin-top: 0;
}

.radio label {
    margin-top: 0;
}

                /* inputs and text area */
input {
    padding: .5em;
    border: solid 1px #999;

}
textarea {
    min-height: 8em;
    max-width: 50%;
    padding: .5em;
    border: solid 1px #999;

}

                /* radio buttons*/

.radio {
    margin-bottom: 1em;
}

input {
    background-color: none;
}

input[type="radio"] {
    margin-left: 1.5em;
    margin-right: 0;
}

input[type="radio"] + label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

input[type="radio"]:first-of-type {
    margin-left: 0;
}

input[name="search-term"] {
    margin-bottom: 5px;
}

input[type="date"] {
    margin-left: 5px;
}
/* submit button */

input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #AAAF99;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}

.new-description {
    margin-bottom: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
/* navbar */
#navbar {
    background-color: #D2D6C7;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

#navbar-left {
    float: left;
    margin: 4px
}

#navbar-center {
    text-align: center;
}

#navbar-right {
    float: right;
    margin: 4px;
}

/* images */
img:hover {
    filter: blur(1px);
}

.listing-preview {
    width: 50%;
    border: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25%
    
}

.fullview {
    height: 600px;
    width: 400px;
    border-radius: 25%;
}

/* listings */
#listings-container, #user-listings {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    align-items: center;
    margin: 3px
}

.listing {
    display: inline-block;
    
}

#profile-header {
    text-align: center;
}


#edit-details {
    display: none;
}


.banner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    font-family: "Varela Round", "Arial", sans-serif;
    font-weight: 800;
}

.listing-title {
    text-align: center;
}
/* item details */

#details-banner {
    font-family: "verdana round";
    font-size: 45px;
}

/* #item-container {
    display: flex;
    justify-content: center;
} */


#item-image {
    display: flex;
    justify-content: center;
}
#posted-by {
    text-align: center;
}
#delete-button {
    margin: auto;
    display: block;
    width: 15%
}
/* search Form */

#searchby {
    margin-right: 10px;
}