.listing-preview {
    width: 50%;
    border: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.fullview {
    height: 600px;
    width: 400px;
    border: 2px solid black;
}

#listings-container, #user-listings {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 20px;
    align-items: center;
    margin: 3px
}

.listing {
    display: inline-block;
    border: 2px solid black;
}

#booking-form {
    border: 2px solid black
}

#edit-details {
    display: none;
}

#navbar-left {
    float: left;
    margin: 4px
}

#navbar-right {
    float: right;
    margin: 4px
}

#banner {
    float: left;
}

#searchForm {
    float: right;
}

.listing-title {
    text-align: center;
}