{% extends 'base.html' %}
{% block title %}Cloop: Clothes the Loop{% endblock %}

{% block body %}
  <!-- React components mounted here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <img id="homepage-image" src="../static/images/homepagecover.jpg">
      </div>
      <div class="col-5">
        <div id="app"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}
