{% extends 'base.html' %}

{% block title %}{{ item.item_name }} - Details{% endblock %}

{% block body %}
<div id="navbar-container"></div>
<div id="item-details">
    <h1>{{ item.item_name }}</h1>
    <p>Posted by: <a href="/users/{{ item.user.user_id }}">{{ item.user.email }}</a></p>

    <div id="item-image"> {% for image in item.images %}
      <image class="fullview" src="{{image.url}}"/>
      {% endfor %}
    </div>
    <p id="item-description">
       <b>Description:</b> {{ item.description }}
    </p>
    <p> <b>Item price:</b> ${{ item.price }} per day</p>
</div>

<div id="booking-div">
  booking form goes here
</div>

{% endblock %}

{% block js %}
  <script src="/static/js/bookingForm.jsx" type="text/jsx"></script>
  <script src="/static/js/navbar.jsx" type="text/jsx"></script>
{% endblock %}