{% extends 'base.html' %}

{% block title %}{{ item.item_name }} - Details{% endblock %}

{% block body %}
<div id="navbar-container"></div>
<div id="item-container">

    <div id="item-image"> 
      {% for image in item.images %}
      <image class="fullview" src="{{image.url}}"/>
      {% endfor %}
    </div>
    <div id="posted-by">Owner: <a href="/users/{{ item.user.user_id }}">{{ item.user.email }}</a></div>

    {% if item.user.email == session["user_email"] %}
    <div id="edit-container">
      <button id="edit-button">Edit Listing</button>
      <div id="edit-details">
        <form id="edit-form">
          <p><b>Description:</b> <textarea name="description" id="description-field">{{ item.description }}</textarea></p>
          <p><b>Price:</b> <input type="text" name="price" id="price-field" value="{{ item.price }}" /></p>
          <p><b>Location:</b> <input type="text" name="city" id="city-field" value="{{ item.city }}" /> <input type="text" name="state" id="state-field" value="{{ item.state }}"/> <input type="text" id="zipcode-field" name="zipcode" value="{{ item.zipcode }}"/> </p>
          <p><input type="submit" value="Save Changes"/></p>
        </form>
      </div>
    </div>
    {% endif %}
    
    <div id="item-details">
      <div id="details-banner">{{ item.item_name }}</div>
      <div id="item-description"><b>Description:</b> <span id="description-span">{{ item.description }}</span></div>
      <div id="item-price"> <b>Price:</b> $<span id="price-span">{{ item.price }}</span> per day</div>
      <p><b>Location:</b> <span id="city-span">{{item.city}}</span> <span id="state-span">{{item.state}}</span> , <span id="zipcode-span">{{ item.zipcode}}</span></p>
    </div>
</div>

{% if item.user.email == session["user_email"] %}
  <div id = "delete-container">
    <form action="/items/{{ item.item_id}}" method="POST">
    <button type="submit" id="delete-button" value="{{ item.item_id }}"> Delete this listing </button>
    </form>
  </div>
{% else %}
  <div id="booking-div"></div>
  <div id="contact-div"></div>
{% endif %}

{% endblock %}

{% block js %}
  <script src="/static/js/bookingForm.jsx" type="text/jsx"></script>
  <script src="/static/js/contactForm.jsx" type="text/jsx"></script>
  <script src="/static/js/likeButton.jsx" type="text/jsx"></script>
  <script src="/static/js/navbar.jsx" type="text/jsx"></script>
{% endblock %}