{% extends 'base.html' %}
{% block title %}Cloop: Marketplace{% endblock %}

{% block body %}
  <!-- React components mounted here -->
  <div id="marketplace-container"></div>
  <div id="marketplace-listings">
    <ul>
      {% for item in items %}
        <li>
            <a href="/items/{{ item.item_id }}">{{ item.item_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

{% block js %}
  <script src="/static/js/marketplace.jsx" type="text/jsx"></script>
{% endblock %}
