{% extends 'base.html' %}
{% block title %}Cloop: Profile{% endblock %}

{% block body %}
  <h2>{{ user.email }}'s Listings</h2>
  <!-- React components mounted here -->
  <div id="user-listings">
    {% for item in user.items %}
      {% if item.deleted == False %}
    <div>
      <a href="/items/{{ item.item_id }}"><img class="listing" src={{ item.images[0].url }} /></a>
    </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}

{% block js %}
  <script src="/static/js/userProfile.jsx" type="text/jsx"></script>
{% endblock %}
