{% extends 'base.html' %}
{% block title %}Cloop: Profile{% endblock %}

{% block body %}
  <div class="banner" id="profile-header">{{ user.email }}'s Listings</div>
  <!-- React components mounted here -->
  <div id="user-listings">
    {% for item in user.items %}
      {% if item.deleted == False %}
    <div class="listing">
      <a href="/items/{{ item.item_id }}"><img class="listing-preview" src={{ item.images[0].url }} /></a>
      <div class="listing-title"> {{ item.item_name }} | ${{ item.price }}</div>
    </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}

{% block js %}
  <script src="/static/js/userProfile.jsx" type="text/jsx"></script>
{% endblock %}
